@import "tailwindcss";

/* ------------------------
        TYPO
-------------------------- */

body {
  font-family: "Bebas Neue", serif;
}

h1 {
  font-size: 30px;
  color: #db0000;
}

/* ------------------------
        COMPONENTS
-------------------------- */

#Logo {
  max-width: 200px;
  height: auto;
}

/*---------CARD-----------*/

#contentCard {
  display: none;
  background-color: black;
  color: white;
  position: relative;
  z-index: 1;
}

#card:hover #posterCard {
  display: none;
}

#card:hover #contentCard {
  display: block;
  width: 200px;
  z-index: 10;
}
