@import "tailwindcss";

/* ------------------------
        TYPO
-------------------------- */

body {
  font-family: "Bebas Neue", serif;
}

h1 {
  font-size: 30px;
  color: #db0000;
}

h4 {
  color: #ffffff;
  font-size: 20px;
}

p {
  font-family: "Roboto", serif;
  color: #dedede;
}

/* ------------------------
        COMPONENTS
-------------------------- */

#Logo {
  max-width: 200px;
  height: auto;
}

/*---------CARD-----------*/

#contentCard {
  display: none;
  color: white;
  position: relative;
  z-index: 1;
}

#card:hover #posterCard {
  display: none;
}

#card:hover #contentCard {
  display: block;
  width: 200px;
  z-index: 10;
}

/* -----SCROLLBAR------ */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2d2d2d;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
