.ico-flags {
  width: 25px;
  height: auto;
  padding-left: 15px;
}
.movie-info-field {
  display: flex;
  align-items: center;
}

.resultPage {
  display: flex;
}
.yellowStar {
  color: darkgoldenrod;
}

.greyStar {
  color: dimgrey;
}
